<h1>Welcome to Our Task Academy</h1>
<p><%= current_user.email %>!</p>


<p>
  Start your learning journey today by exploring our wide range of courses!
</p>

<% if user_signed_in? %>
  <% if current_user.teacher? %>
    <%= link_to 'Create a New Course', new_course_path %>
    <%= link_to 'Manage Categories', categories_path %>
  <% else %>
    <%= link_to 'Browse Courses', courses_path %>
  <% end %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Log In', new_user_session_path %>
<% end %>
