<%= form_with(model: course, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>
  <div>
    <%= form.file_field :course_videos, multiple: true %>
    <p><small>Select multiple video files (e.g., MP4, AVI, etc.)</small></p>
  </div>
  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.pluck(:name, :id), prompt: 'Select a category' %>
  </div>
  <div>
  	
    <%= form.submit %>
  </div>
  
<% end %>
