<h1>New Course</h1>
<%= form_with(model: @course, url: courses_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>
  <%= form.submit "Create Course" %>
<% end %>
