<h1><%= @course.title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Course Videos Title</th>
      <th>Video</th>
    </tr>
  </thead>
  <tbody>
    <% @course.course_videos.each do |video| %>
      <tr>
        <td><%#= video.title %></td>
        <td><%= video_tag url_for(video), controls: true, width: "350", height: "200" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= @course.description %></p>
<p><%= @course.price %></p>

<%# if can?(:add_to_cart, @course) %>
  <%= button_to "Add to Cart", line_items_path(course_id: @course.id), method: :post %>
  <%# button_to "Add to cart", line_items_path(:course_id => @course.id) %>
<%# end %>

<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary' %> |
<%= link_to 'Back', courses_path, class: 'btn btn-secondary' %>
