<h1>Manage Teacher: <%= @teacher.email %></h1>

<%= form_for @teacher, url: admin_user_path(@teacher), method: :put do |f| %>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, User.roles.keys %>
  </div>
  <!-- Add more fields for updating teacher details if needed -->
  <div class="actions">
    <%= f.submit 'Update Teacher' %>
  </div>
<% end %>

<%= link_to 'Back to Teachers List', admin_path %>
