<!DOCTYPE html>
<html>
  <head>
    <title>Task Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag 'courses', media: 'all' %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
     <% if user_signed_in? && current_user.student? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>
<%# else %>
 <%#= link_to "Sign Up", new_user_registration_path %>
  <!-- app/views/layouts/application.html.erb or within your view file -->
 <script src="https://js.stripe.com/v3/"></script> 
<!-- <script>
  // Create a Stripe object.
  var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Create a card Element and add it to the card-element div.
  var card = elements.create('card');
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.on('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Create a token or handle the payment submission when the form is submitted.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server to process the payment.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server.
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form.
    form.submit();
  }
</script> -->
 
  </body>
</html>
